extends templates
block content
    div
        | Your password is changed
        br
        | Visit our site to see what happen
        br
        |
        a(href='//http:pornhub.com') Visit our site by this link
