doctype html
html
    head
        style
    body
        div
            block content
        div
            | Best regards
            br
            |node lesson 8
            br
            |
            a(href='http://google.com') Visit our site
